.Subreddits {
    position: absolute;
    z-index: 5;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    background-color: var(--dark-menu-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    border-top: 0.75px solid var(--dark-main-background);
    margin-bottom: 10px;
}

.Subreddits .SubredditsTitle {
    display: none;
}

.Subreddits ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Subreddits ul li {
    box-sizing: border-box;
    font-size: 18px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: 0 20px;
}

.Subreddits ul li:hover, .Subreddits h3 {
    cursor: pointer;
}

.Subreddits li img {
    width: 32px;
    height: 32px;
}

h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

@media only screen and (min-width: 770px) {
    .Subreddits {
        box-sizing: border-box;
        position: absolute;
        width: 35vw;
        top: 120px;
        left: 62.5vw;
        align-items: flex-start;
        row-gap: 45px;
        padding: 20px 30px;
        color: var(--dark-color-text);
        border-radius: 20px;
    }

    .Subreddits .SubredditsTitle {
        display: block;
    }

    .Subreddits h2 {
        margin: 0;
    }

    .Subreddits ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
    }

    .Subreddits ul li {
        padding: 0;
    }

    .Subreddits h3 {
        margin: 0 auto;
    }
}