.SearchBar {
    position: absolute;
    z-index: 5;
    top: 60px;
    background-color: var(--menu-background);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.75px solid var(--main-background);
}

.SearchBar input {
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    height: 50%;
    width: 80%;
    font-size: 16px;
    padding: 0 20px;
    background-color: var(--input-background);
}